*{
    margin: 0;
    padding: 0;
}
main{
    width: 1200px;
    margin: 0 auto;
}
.player img{ 
    height: 50px;
    margin-right: 20px;
}
.Top-player{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 30px;
    margin-top: 20px;
    place-items: center;
   
}
.player{
    
    display: flex;
    align-items: center;  
}
@media (max-width:992px){
    .Top-player{
    grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:668px){
    .Top-player{
    grid-template-columns: repeat(1, 1fr);
    }
}

.blog{
    display: flex;
    align-items: center;
}
.blogs{      /* this blog style can be simply added to top-player style as .Top-player, blog{ ...... */
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-gap: 30px;
    margin-top: 20px;
    place-items: center;
    
}
.thumbnail img{
    width: 200px;
    margin-right: 20px;
}
@media(max-width:992px){
    .blogs{
        grid-template-columns: repeat(1, 1fr);
        }
}
@media(max-width:668){
    .blog{
        display: block;
    }
}
